<ion-view view-title="Home">
  <ion-content padding="true">
  <h3>Confirm para acessar!</h3>
    <div class="list">
        <ul class="item" >
            <li><strong>Nome:</strong> Lucien Carbonare Jospin</li>
            <li><strong>CPF:</strong>  176.430.548-51</li>
            <li><strong>Idade:</strong> 36 anos</li>
            <li><strong>E-mail:</strong> lucien@carbonare@gmail.com</li>
            <li><strong>MAC Address:</strong> 127.0.0.1</li>
        </ul>
    </div>
        <button class="button button-block button-positive" ng-click="signIn(user)">
            Confirmar
        </button>
  </ion-content>
</ion-view>