      <ion-view view-title="Sign-in">
        <ion-content>
          <div class="list">
            <label class="item item-input">
              <span class="input-label">E-mail</span>
              <input type="text" ng-model="user.mail">
            </label>
            <label class="item item-input">
              <span class="input-label">Senha</span>
              <input type="password" ng-model="user.password">
            </label>
            <label class="item item-input">
              <span class="input-label">Nº Fidelidade / CPF</span>
              <input type="text" ng-model="user.fideli">
            </label>
          </div>
          <div class="padding">
            <button class="button button-block button-positive" ng-click="signIn(user)">
                Entrar
            </button>
          </div>
        </ion-content>
      </ion-view>
